---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import I from "../components/BaseIcon.astro";
---

<Layout title="Welcome to Astro.">
  <Container>
    <h1>Bienvenue !</h1>
    <h2 class="mt-6">Prêt a découvrir de nouvelle disquettes ?</h2>
  </Container>
</Layout>
